doctype	html
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	title MeatPro S.A. - Industria Alimenticia
	link(rel="stylesheet", href="./css/main.css")
body
	div(class="cuerpo")
		div(class="nav")
			div(class="nav-logo")
				img(src="./img/svg/logoMeatPro.svg" class="nav-logo-img")
			div(class="nav-menu") Menu
		div(class="tml")
			div(class="mv")
				article(class="mision")
					div(class="mision-bg")
						div(class="mision-bg__title")
						p(class="mision-text") Procesar, comercializar y desarrollar productos cárnicos inocuos de alta calidad, al alcance de todos los segmentos del sector HORECA e industrial en Ecuador.
						//- picture
						//- 	source(media='(min-width: 375px)', srcset='./img/tabla@2x.png')
						//- 	img(src='./img/tabla.png')
					//- div(class="mision-title")
					//- div(class="mision-text")
				article(class="vision")
					div(class="vision-bg")
						div(class="vision-bg__title")
						p(class="vision-text") Para el 2017, ser una empresa reconocida a nivel nacional por la calidad y sabor de nuestros productos cárnicos; generando permanente valor y bienestar para nuestros empleados, clientes, colaboradores y accionistas.	

			div(class="tyg")			
				div(class="tips")
					a(href='#', class="tips-bg")
						picture
							source(media='(min-width: 360px)', srcset='./img/tips_retina.png 2x')
							img(src='./img/tips_normal.png')
				div(class="cebollas")			

				//- GUARNICION

				article(class="guarnicion")
					div(href='#', class="guarnicion-bg")

			//- LINEAS

			div(class="lineas")
				div(class="lineas-title")
				p nuestras tres líneas satisfacen al sector alimenticio
				div(class="lineas-animals")
					a(href='#', class="lineas-animals-pollo")
					a(href='#', class="lineas-animals-cerdo")
					a(href='#', class="lineas-animals-res")

		//- PROMOCIONES			
		div(class="promo")
			div(class="promociones")
				p(class="promociones-title")
				p(class="promociones-img")
				div(class="promociones-textos")
					p(class="cursiva") Consulta a nuestros asesores<br> 
					h2(class="pedidos") Pedidos a los teléfonos
					p(class="textosD") 6034213 / 2479613 /14 /15 <br> 0999 660 262 <br> info@mpgroup.com.ec
					p(class="textosD") Encuentra las mejores promociones en nuestras redes sociales:
				div(class="promociones-redes")
					a(href="https://www.facebook.com/meatprosa/?ref=aymt_homepage_panel")
						div(class="promociones-redes-fb")
					a(href="https://www.instagram.com/meatpro_sa/")
						div(class="promociones-redes-ig")
			div(class="promociones2")
				p(class="promociones-title")

		//- FOOTER						
		section(class="footer")
			div(class="footer-cuchillo")
				div(class="footer-cuchillo-logo")